---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import { getArticleDetail, getArticles, type Article } from "@lib/microcms";
import type { ContentElement } from "@lib/contentElements";
import Headline from "@components/main/element/headline.astro";

export const getStaticPaths = (async () => {
    const response = await getArticles({ fields: ["id"] });

    return response.contents.map((article: Article) => ({
        params: { id: article.id },
    }));
}) satisfies GetStaticPaths;

const id = Astro.params.id;
const response = await getArticleDetail(id, { fields: ["title", "element"] });
---

<Layout title={response.title + " | " + "Jの部屋(仮)"}>
    <main>
        <h1>{response.title}</h1>

        {
            response.element.map((e: ContentElement) => {
                // このswitch文は、見出しのレベルに応じて、適切な見出し要素を返す
                switch (e.fieldId) {
                    case "headline":
                        return <Headline headline={e} />;
                    case "paragraph":
                        return <p>{e.text}</p>;

                    default:
                        break;
                }
            })
        }
    </main>
</Layout>
