---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import { getArticleDetail, getArticles, type Article } from "@lib/microcms";
import type { ContentElement } from "@lib/contentElements";
import Paragraph from "@components/main/element/paragraph.astro";
import HeadPara from "@components/main/element/headPara.astro";

export const getStaticPaths = (async () => {
    const response = await getArticles({ fields: ["id"] });

    return response.contents.map((article: Article) => ({
        params: { id: article.id },
    }));
}) satisfies GetStaticPaths;

const id = Astro.params.id;
const response = await getArticleDetail(id, { fields: ["title", "elements"] });
---

<Layout title={response.title + " | " + "Jの部屋(仮)"}>
    <main>
        <h1 class="text-2xl font-bold">{response.title}</h1>

        {
            response.elements.map((e: ContentElement) => {
                // このswitch文は、見出しのレベルに応じて、適切な見出し要素を返す
                switch (e.fieldId) {
                    case "paragraph":
                        return <Paragraph paragraph={e} />;
                    case "headPara":
                        return <HeadPara headpara={e} />;
                    default:
                        break;
                }
            })
        }
    </main>
</Layout>
