---
import type { ContentHeadlineElement } from "@lib/contentElements";

interface Props {
    headline: ContentHeadlineElement;
}

const { headline } = Astro.props;
---

<div>
    {
        // このswitch文は、見出しのレベルに応じて、適切な見出し要素を返す
        () => {
            // headline.levelが一つだけ要素を持つ配列内として定義されているため、配列の形でアクセスする
            switch (headline.level[0]) {
                case "中":
                    return <h2>{headline.body}</h2>;

                case "小":
                    return <h3>{headline.body}</h3>;

                case "超小":
                    return <h4>{headline.body}</h4>;

                default:
                    console.error("見出しのレベルが不正です。");
                    return;
            }
        }
    }
</div>
