---
// 本文を構成する要素のうち、段落部分を描画するコンポーネント

import type { ContentParagraphElement } from "@lib/contentElements";
import { inlineMarked } from "@lib/inlineMarked";

interface Props {
    paragraph: ContentParagraphElement;
}

const { paragraph } = Astro.props;
const paratext = await inlineMarked(paragraph.text);
---

<div>
    {/* 段落の頭にて1文字開けるため、先頭に全角スペースを挿入 */}
    <p set:html={"　" + paratext} />
</div>
