---
import Layout from "@layouts/Layout.astro";
import PageContentList from "@components/main/pageContentList.astro";
---

<Layout title="Jの部屋(仮)">
    <main>
        <PageContentList />
    </main>
</Layout>
