---
import Layout from "../layouts/Layout.astro";
import PageContent from "../components/main/pageContent.astro";
---

<Layout title="Jの部屋(仮)">
    <main>
        <PageContent />
    </main>
</Layout>
