---
import Sitetitle from "@components/header/sitetitle.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="J.S.W. Home Page" />
        <meta name="author" content="Jan Stanley Watt" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header>
            <Sitetitle siteTitle="Jの部屋(仮)" />
        </header>
        <!-- ここからメインコンテンツ -->
        <slot />
        <!-- メインコンテンツここまで -->
        <footer>
            <p>&copy; 2024 J.S.W.</p>
        </footer>
    </body>
</html>
